
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body{
    min-height: 100vh;
    background-color: #181a1b;
    line-height: 1.5;

}


a{
    text-decoration: none;
}


img {
    width: 100%;
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Orbitron', sans-serif;
}

p{
    font-family: roboto;
}