
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.content-princ-body {
    background-color: #181a1b;
    color: #e0e0e0;
    font-family: 'Segoe UI', Arial, sans-serif;
    min-height: 100vh;
    line-height: 1.6;
}

.a-cards {
    font-family: 'Roboto', sans-serif;
}

.p-cards {
    font-family: 'Roboto', Courier, monospace;
}

.h2-catDest{
  text-shadow: 2px 2px #2486D5;
}